body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    position: relative;
    text-align: center;
}

h1:after {
    content: " ";
    background-image: linear-gradient(120deg, rgb(199, 13, 13), rgb(14, 12, 12));
    width: 90%;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) skew(-50deg);
}

td {
    border: solid 1px grey;
    padding: 5px;
}

table {
    border-collapse: collapse;
    display: inline-block;
}

table tr:nth-child(even) {
    background-color: aqua;
}