<h1 class="text-center my-3">Cadastro de Filmes</h1>
<form action="/Cadastrar" method="post">
 <div class="row w-50 d-block m-auto g-3">
 <div class="col-12">
 <label class="form-label" for="titulo">Título:</label>
 <input
 class="form-control"
 type="titulo"
 name="titulo"
 id="titulo"
 placeholder="Digite o título do filme"
 />
 </div>
 <div class="col-12">
 <label class="form-label" for="categoria">Categoria:</label>
 <input
 class="form-control"
 type="categoria"
 name="categoria"
 id="categoria"
 placeholder="Digite a categoria do filme."
 />
 </div>
 <div class="col-12">
 <label class="form-label" for="genero">Gênero:</label>
 <input
 class="form-control"
 type="genero"
 name="genero"
 id="genero"
 placeholder="Digite o gênero do filme"
 />
 </div>
 <div class="col-12">
 <label class="form-label" for="sinopse">Sinopse:</label>
 <textarea
 class="form-control"
 name="sinopse"
 id="sinopse"
 placeholder="Digite a sinopse do filme"
 ></textarea>
 </div>
 <div class="col-12">
 <label class="form-label" for="link">Link do Trailer:</label>
 <input
 class="form-control"
 name="link"
 id="link"
 placeholder="Link do trailer do filme"
 />
 </div>
 <div>
 <input class="btn btn-primary my-3" type="submit" value="Cadastrar Filme"
/>
 </div>
 </div>
</form>