body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    position: relative;
    text-align: center;
}

h1:after {
    content: " ";
    background-image: linear-gradient(120deg, rgb(199, 13, 13), rgb(14, 12, 12));
    width: 90%;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) skew(-50deg);
}

form {
    text-align: left;
    display: inline-block;
}

form>div {
    margin: 1em 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

input+label {
    display: inline;
    margin: 0;
}

fieldset>input[type=radio]:not(:first-of-type) {
    margin-left: 20px;
}

fieldset {
    display: inline-block;
    border-radius: 2px;
    border: solid 1px grey;
}

input {
    border-radius: 2px;
}

input:focus {
    outline: 3px solid grey;
}

input:required {
    background-color: rgb(145, 255, 0);
}

input[type=text]:valid,
input[type=url]:valid,
input[type=email]:valid,
input[type=password]:valid {
    background: url(./icons8-check-96.png) no-repeat 100% 50% green;
    background-size: 25px;
}

input[type=text]:invalid,
input[type=url]:invalid,
input[type=email]:invalid,
input[type=password]:invalid {
    background: url(./icons8-no-96.png) no-repeat 100% 50% rgb(240, 239, 180);
    background-size: 10px;
}

input[type=number]:in-range {
    background-color: green;
}