body {
    font-family: serif;
    background-color: gainsboro;
    margin: 0%;
}

header {
    font-size: 40px;
    background-color: rgb(114, 94, 176);
    padding: 5px 5px 5px 5px;
    color: black
}

article {
    color: black;
    font-size: large;
    margin-left: 15px;
}

h1 {
    font-size: 2em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
}

main {
    font-size: 30px;
    margin-left: 10px;
}

p1 {
    font-size: 40px;
    text-align: justify;
    text-decoration: solid;
    text-transform: none;
    text-indent: 5rem;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 5px;
    white-space: normal;
}

p {
    font-size: 40px;
    text-align: justify;
    text-decoration: solid;
    text-transform: none;
    text-indent: 5rem;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 5px;
    white-space: normal;
}

ul {
    list-style-image: url(check.svg)
}

a {
    text-decoration: none;
    color: purple;
    font-size: 30px;
}

blockquote {
    border-left: 3px solid greenyellow;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 13px;
}

footer {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(114, 94, 176);
    padding: 10px 10px 10px 10px;
    margin-top: 1%;
}

